.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.inputContainer {
  margin-bottom: 20px;
}

.input {
  width: 450px;
  height: 50px;
  padding: 0px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #dddddd;
}

.loginBtn {
  width: 450px;
  height: 45px;
  border-radius: 10px;
  background-color: #00a99d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-weight: 700;
  border: none;
}

.findIdPw {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  margin: 10px 0px;
  a {
    color: #00a99d;
    font-weight: 700;
    cursor: pointer;
  }
}

.divideLine {
  margin-top: 40px;
  //   display: flex;
  //   flex-basis: 100%;
  //   align-items: center;
  //   color: rgba(0, 0, 0, 0.35);
  //   font-size: 12px;
  //   margin: 8px 0px;
  //   ::before,
  //   ::after {
  //     content: '';
  //     flex-grow: 1;
  //     background: rgba(0, 0, 0, 0.35);
  //     height: 1px;
  //     font-size: 0px;
  //     line-height: 0px;
  //     margin: 0px 16px;
  //   }
}
.btnContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.imgContainer {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }
}
.signUpBtn {
  width: 450px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}
